<div class="column-layout request-equipment-layout">
  <h4 class="request-equipment-title">
    Request Equipment
  </h4>
  <igx-select type="box" required="true" class="equipment-dropdown">
    <label igxLabel>Select Equipment</label>
  </igx-select>
  <igx-input-group type="box" class="comments-text-area">
    <label igxLabel>Comments</label>
    <textarea placeholder="Enter any additional comments or special requests here." igxInput></textarea>
    <igx-hint>Please specify any details that might be helpful.</igx-hint>
  </igx-input-group>
  <div class="row-layout request-buttons-row">
    <button igxButton="contained" type="button" igxRipple class="submit-request-button">
      Submit Request
    </button>
    <button igxButton="outlined" type="button" igxRipple class="submit-request-button">
      Cancel
    </button>
  </div>
</div>
