<div class="column-layout equipment-requests-content">
  <div class="column-layout equipment-requests-header">
    <h4 class="content">
      Equipment Requests
    </h4>
    <p class="content">
      Manage pending and historical equipment requests.
    </p>
  </div>
  @for (item of generateAListOfEquipmentRequestsIncludingItEquipmentRequests; track item) {
    <igx-card class="request-card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar shape="circle">
            <igx-icon>
              build
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          {{ item.item_name }}
        </h3>
        <h5 igxCardHeaderSubtitle>
          {{ item.request_date }}
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <div class="column-layout request-card-content">
          <p class="ig-typography__body-2 content">
            {{ item.notes }}
          </p>
        </div>
      </igx-card-content>
      <igx-card-actions class="actions-content">
        <ng-container igxStart></ng-container>
        <ng-container igxEnd></ng-container>
      </igx-card-actions>
    </igx-card>
  }
  <div class="row-layout action-buttons-row">
    <button igxButton="contained" type="button" igxRipple class="approve-button">
      Approve
    </button>
    <button igxButton="outlined" type="button" igxRipple class="approve-button">
      Reject
    </button>
    <button igxButton="flat" type="button" igxRipple class="approve-button">
      Return
    </button>
  </div>
</div>
