<div class="row-layout login-form-row-layout">
  <div class="column-layout login-form-column-layout">
    <h4 class="content">
      Login
    </h4>
    <div class="column-layout login-inputs-column-layout">
      <igx-input-group type="border" class="email-input">
        <input type="email" [(ngModel)]="email" required="true" igxInput #igxInput />
        <label igxLabel>Email address</label>
        @if (igxInput.validity.valueMissing) {
        <igx-hint>This field is required</igx-hint>
        }
      </igx-input-group>
      <igx-input-group type="border" class="email-input">
        <input type="password" [(ngModel)]="password" required="true" igxInput #igxInput1 />
        <label igxLabel>Password</label>
        @if (igxInput1.validity.valueMissing) {
        <igx-hint>This field is required</igx-hint>
        }
      </igx-input-group>

      @if (errorMessage) {
      <div class="error-message ig-typography__body-2">
        {{ errorMessage }}
      </div>
      }

      <button igxButton="contained" type="button" igxRipple class="sign-in-button" (click)="onLogin()"
        [disabled]="isLoading">
        @if (isLoading) {
        Signing in...
        } @else {
        Sign in
        }
      </button>
    </div>
    <div class="row-layout create-account-row-layout">
      <p class="ig-typography__body-2 content">
        Don't have an account?
      </p>
      <a routerLink="/register-view" class="ig-typography__body-2 create-account-link">
        Create new account
      </a>
    </div>

    <!-- POC Demo Hints -->
      <div class="demo-hints">
        <h6 class="demo-hints-title">
          📚 Demo Access Guide
        </h6>
        <div class="demo-hints-content">
          <div class="demo-hint-item">
            <strong>👤 User Role:</strong><br>
            <span class="hint-description">Register a new account using the "Create new account" link below</span>
          </div>
          <div class="demo-hint-item">
            <strong>🔧 Admin Role:</strong><br>
            <span class="hint-description">Email: <code class="credential-code">admin@school.local</code></span><br>
            <span class="hint-description">Password: <code class="credential-code">Admin123!</code></span>
          </div>
        </div>
      </div>
  </div>
</div>