<div class="borrowing-history-container">
  <div class="header-section">
    <h4>Activity History</h4>
    <br />
    <h5>Recent equipment activity and borrowing history.</h5>
    @if (isLoading) {
      <div class="loading-indicator">Loading...</div>
    }
  </div>

  <igx-grid 
    [data]="activityHistory" 
    [allowFiltering]="true"
    filterMode="excelStyleFilter"
    height="600px"
    width="100%"
    class="activity-grid">
    
    <igx-column field="id" header="ID" [sortable]="true" [filterable]="true" ></igx-column>
    
    <igx-column field="action" header="Action" [sortable]="true" [filterable]="true" >
      <ng-template igxCell let-cell="cell">
        <span [class]="getActionClass(cell.value)" class="action-badge">
          {{ cell.value }}
        </span>
      </ng-template>
    </igx-column>
    
    <igx-column field="equipmentId" header="Equipment ID" [sortable]="true" [filterable]="true" ></igx-column>
    
    <igx-column field="userId" header="User " [sortable]="true" [filterable]="true" ></igx-column>
    
    <igx-column field="timestamp" header="Date & Time" [sortable]="true" [filterable]="true" >
      <ng-template igxCell let-cell="cell">
        {{ formatDate(cell.value) }}
      </ng-template>
    </igx-column>
    
    <igx-column field="notes" header="Details" [sortable]="false" [filterable]="true">
      <ng-template igxCell let-cell="cell">
        <span [title]="cell.value">{{ cell.value || '-' }}</span>
      </ng-template>
    </igx-column>
  </igx-grid>
</div>
